@using Kendo.Mvc.UI
@{
    Layout = null;
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/kendo/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/kendo")
<br/>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Invite new user</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Invite user in group</h4>
            </div>
            <div class="modal-body">


                    <h5>Find user by mail: </h5>
                    <div style="display: inline-block">
                        <input type="text" class="form-control" placeholder="Enter user mail here..." id="tbxEmail" />
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>

                <br/><br/>
                User: <label id="lblName"></label><label id="lblUserId" hidden="hidden">sda</label>
                &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success" id="btnInvite" >Invite</button>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<br/><br/>

@(Html.Kendo().Grid<TeamGeneratorApp.Models.ViewModels.InvitationVM>()
    .Name("invitationsGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Name);
        columns.Bound(p => p.Email);
        columns.Bound(p => p.DateCreated).Title("Date sent");
        columns.Command(command => command.Destroy()).Width(200);
    })
    //.Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .PageSize(20)
        .Events(events => events.Error("error_handler").Sync("sync_handler"))
         .Model(model =>
         {
             model.Id(p => p.Id);
         })
        //.Create(update => update.Action("UsersInGroupGrid_Create", "AdminGroups"))
        .Read(read => read.Action("InvitationsGrid_Read", "Groups", new { groupId = ViewBag.GroupId }))
        //.Update(update => update.Action("UsersInGroupGrid_Update", "AdminGroups"))
        .Destroy(update => update.Action("InvitationsGrid_Destroy", "Groups"))
    )

)
<script type="text/javascript">
    

    $(document).ready(function () {
        $("#btnInvite").hide();
    });
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function(key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    };
    $(function () {
        $("#btnSearch").click(function () {
            $('#lblName').text("");
            $("#btnInvite").hide();
            $.ajax({
                url: '@Url.Action("SearchUser", "Groups")',
                type: 'POST',
                data: { q: $('#tbxEmail').val() },
                success: function (result) {
                    if (result.Id == "NULL") {
                        $('#lblName').text("User not found!");
                        $("#btnInvite").hide();
                    } else {
                        $('#lblName').text(result.Name);
                        $('#lblUserId').val(result.Id);
                        $("#btnInvite").show();
                    }
                }
            });
            return false;
        });
    });

    $(function () {
        $("#btnInvite").click(function () {
            $.ajax({
                url: '@Url.Action("CreateInvitation", "Groups")',
                type: 'POST',
                data: { userId: $('#lblUserId').val(), groupId: @ViewBag.GroupId },
                success: function (result) {
                    if(result.status == "OK") {
                        $('#invitationsGrid').data('kendoGrid').dataSource.read();
                        $('#invitationsGrid').data('kendoGrid').refresh();
                        $('#lblName').text("");
                        $("#btnInvite").hide();
                        $('#lblUserId').val("");
                    } 
                    else {
                        alert(result.status);
                    }
                },
                error: function () {
                    alert(error);
                }
            });
            return false;
        });
    });
    function sync_handler(e) {
        this.read();
    };

</script>