@model TeamGeneratorApp.Models.ViewModels.GroupListVM
@{
    ViewBag.Title = "Details";
}
<br/>
@if (ViewBag.IsOwner)
{
    <p>
        @Html.ActionLink("< Back to group list", "Index", "Groups")
    </p>
}
<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr/>
<h4>Group</h4>
<br/>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>
    </dl>
</div>
<br/>
<div id="tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#Categories" data-toggle="tab">Categories</a>
        </li>
        <li>
            <a href="#Users" data-toggle="tab">Users</a>
        </li>
@if (ViewBag.IsOwner)
{
    <li>
        <a href="#Invitations" data-toggle="tab">Invitations</a>
    </li>
}
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="Categories">
            @Html.Action("CategoriesGrid", "Groups", new { groupId = Model.Id, isOwner = ViewBag.IsOwner })
        </div>
        <div class="tab-pane" id="Users">
            @Html.Action("UsersInGroupGrid", "Groups", new {groupId = Model.Id, isOwner = ViewBag.IsOwner })
        </div>
@if (ViewBag.IsOwner)
{
    <div class="tab-pane" id="Invitations">
        @Html.Action("InvitationsGrid", "Groups", new {groupId = Model.Id})
    </div>
}
    </div>

</div>




