@model TeamGeneratorApp.Models.ViewModels.EventVM

@{
    ViewBag.Title = "Details";
}
<br />
<p>
    @Html.ActionLink("< Back", "Details", "Categories", new { id = ViewBag.CategoryId }, null)
</p>
<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<h4>Event</h4>
<br />
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTeams)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTeams)
        </dd>

    </dl>
</div>
<div id="tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#Users" data-toggle="tab">Users</a>
        </li>
        <li>
            <a href="#Votings" data-toggle="tab">Votings</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="Events">
            @Html.Action("UsersGrid", "Events", new { eventId = Model.Id })
        </div>
        <div class="tab-pane" id="Users">
            @*@Html.Action("VotingsGrid", "Events", new { eventId = Model.Id })*@
        </div>
    </div>

</div>