@model TeamGeneratorApp.Models.ViewModels.GeneratorDetailsVM

@{
    ViewBag.Title = "Details";
}
<br />
<p>
    @Html.ActionLink("< Back to event", "Details", "Events", new { id = Model.EventId }, null)
</p>
<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<h4>Generator</h4>

@if (!ViewBag.AllUsersEmpty && ViewBag.IsOwner)
{
    <br/>

        if (!Model.IsGenerated)
        {
            <button>@Html.ActionLink("Generate teams!", "GenerateTeams", new { generatorId = Model.Id })</button>
        }

}
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriteriaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriteriaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTeams)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTeams)
        </dd>

        <br/>

        <dt>
            Users
        </dt>

        <dd>
            @Html.Action("AllUsersGenerateGrid", "Events", new {generatorId = Model.Id, isOwner = ViewBag.IsOwner})
        </dd>

        <br/>
        
        @if (Model.IsGenerated)
        {
            <dt>
                Teams
            </dt>

            <dd>
                @Html.Action("TeamsGrid", "Events", new { generatorId = Model.Id, isOwner = ViewBag.IsOwner })
            </dd>
        }




</dl>
</div>




