@model TeamGeneratorApp.Models.ViewModels.VotingProcessVM
@{
    ViewBag.Title = "Voting";
}

<br />
<p>
    @Html.ActionLink("< Back to event", "Details", new {id = ViewBag.EventId})
</p>
<h2>Voting</h2>
<hr />
<h4>Event: @ViewBag.EventName</h4>
<h5>Category: @ViewBag.CategoryName</h5>
<br />
<center>
    <p>Who wins this duel?</p>
    <br/><br/>


    <table>
        <tr>
            <td><img id="user1_img" style="height: 200px;width: 150px" src="@Html.DisplayFor(model => model.User1_Image)" class="avatar img-circle img-thumbnail" alt="avatar"></td>
            <td><img id="user2_img" style="height: 200px;width: 150px" src="@Html.DisplayFor(model => model.User2_Image)" class="avatar img-circle img-thumbnail" alt="avatar"></td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.User1_PersonalName)</td>
            <td>@Html.DisplayFor(model => model.User2_PersonalName)</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Win", "Rate", new { categoryId = ViewBag.CategoryId, userVotingId = Model.UserVotingId, votingId = Model.VotingId, userOnEvent1_Id = Model.UserOnEvent1_Id, userOnEvent2_Id = Model.UserOnEvent2_Id, draw = false, firstWins = true })</td>
            <td>@Html.ActionLink("Win", "Rate", new { categoryId = ViewBag.CategoryId, userVotingId = Model.UserVotingId, votingId = Model.VotingId, userOnEvent1_Id = Model.UserOnEvent1_Id, userOnEvent2_Id = Model.UserOnEvent2_Id, draw = false, firstWins = false })</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Draw", "Rate", new { categoryId = ViewBag.CategoryId, userVotingId = Model.UserVotingId, votingId = Model.VotingId, userOnEvent1_Id = Model.UserOnEvent1_Id, userOnEvent2_Id = Model.UserOnEvent2_Id, draw = true, firstWins = false })</td>
        </tr>
    </table>
</center>

